@CHARSET "UTF-8";

.list-group .list-group {
	margin-bottom: 0px;
}

.btn.disabled {
	color: #b7b7b7;
}

.btn-block {
	text-align: left;
}

div.panel-body>ul {
	list-style-type: none;
	padding-left: 0;
}